<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="src/css/styles.css">
    <title>{{title}}</title>
  </head>

  <body>
    {{#with order as | order |}}
    <div class="container">
      <div>
        <img src="/images/header.png" width="100%" height="280">
      </div>

      {{#with order.user}}
      <p>
        Dear {{upper last_name}} {{first_name}}{{#if middle_name }} {{middle_name}}{{/if}},
        we are contacting you because there is an amount due on your purchase
        {{order.uuid}}:
      </p>
      {{/with}}

      <div class="cs-center">
        <table>
          <tr>
            <th colspan="3" class="table-header">The table header</th>
          </tr>
          <tr>
            <td>Date:</td>
            <td colspan="2">{{date order.created_at}}</td>
          </tr>
          {{#each order.products}}
          <tr class="cs-row">
            <td>{{quantity}}</td>
            <td>{{product}}</td>
            <td class="cs-price">{{price}} Kn</td>
          </tr>
          {{/each}}
          <tr>
            <td></td>
            <td><strong>Total amount</strong></td>
            <td class="cs-price">
              <strong>{{sum amount delivery_fee}} Kn</strong>
            </td>
          </tr>
          <tr class="cs-row">
            <td></td>
            <td><strong>Amount paid</strong></td>
            <td class="cs-price">
              <strong>
                {{#if amount_paid}}
                  {{amount_paid}}
                {{else}}
                  0 
                {{/if}}
                Kn
              </strong>
            </td>
          </tr>
        </table>        
      </div>

      <p>
        According to our records, the amount due is
        {{#if amount_paid}}
          {{amountDue amount delivery_fee amount_paid}}
        {{else}}
          {{amountDue amount delivery_fee 0}}
        {{/if}}
        Kn. Please, click on the next
        button <strong>to pay</strong> this difference:
      </p>

      <div class="cs-button">
        <a href="https://pet-shop.buckhill.com.hr/checkout" >
          <strong>PAY NOW</strong>
        </a>
      </div>

      <div>
        <p>If you have any other concerns, please contact our technical support team.</p>
        <p>Kind regards,</p>
        <p>Petson Team</p>
      </div>
    </div>
    {{/with}}
  </body>
</html>
